
* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxc;
  }
  
  input {
    all: unset;
  }
  
  .theme-bg {
    background-image: linear-gradient(
      to top left,
      hsla(100.21, 63.57%, 52.13%, 0.677) 0%,
      hsla(100.21, 63.57%, 52.13%, 0.677) 7.7%,
      hsla(108.99, 63.97%, 56.38%, 0.704) 7.7%,
      hsla(159.68, 89.21%, 53.18%, 0.892) 61.5%,
      hsla(159.68, 89.21%, 53.18%, 0.892) 69.2%,
      hsla(169.02, 100%, 49.4%, 0.973) 92.3%,
      hsl(171.06, 100%, 50%) 92.3%,
      hsl(171.06, 100%, 50%) 100%
    );
  }
  
  .shadow-custom {
    box-shadow: 18px 20px 54px -16px #616161, -34px -34px 91px transparent;
  }
  
  